*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Functions
functions/lib/
functions/node_modules/

# Flutter
lolo/.dart_tool/
lolo/build/

# Environment
*.env
